<p style="color: green"><%= notice %></p>

<%= render @grid %>

<div>
  <%= link_to "Edit This Car", edit_grid_path(@grid) %> |
  <%= link_to "Back To All Cars", grids_path %>

  <%= button_to "Delete This Car", @grid, method: :delete %>
</div>
