
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Carmax
    %script{:src => "https://cdn.tailwindcss.com"}
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    %script{:src => "https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"}
    %link{:href => "https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css", :rel => "stylesheet"}/
    %link{:href => "https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css", :rel => "stylesheet"}/
  %body
    %nav.bg-whitesmoke-400.shadow-lg.sticky.top-0
      %div
        %span.flex.flex-row.text-2xl.cursor-pointer{:class => "font-[courier]"}
          %img.mt-5.ml-10.mr-20.h-20.inline{:src => "https://searchlogovector.com/wp-content/uploads/2018/05/carmax-logo-vector.png"}/
          %ul.flex.flex-row.items-center
            %li.mt-5.mr-20= link_to "Home", root_path
            %li.mt-5= link_to "Inventory", grids_path
            %li.mt-5.ml-20= link_to "Sign In"
            %li.mt-5.ml-20= link_to "Sign Up"
      %br/
      
    = yield
