
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Carmax
    %script{:src => "https://cdn.tailwindcss.com"}
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    %script{:src => "https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"}
    %link{:href => "https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css", :rel => "stylesheet"}/
    %link{:href => "https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css", :rel => "stylesheet"}/
  %body.bg-gray-200.ml-10.mt-10
    %nav.bg-gray-400.shadow-lg.sticky-0.top-0
      %div
        %span.text-2xl.cursor-pointer{:class => "font-[courier]"}
          %img.h-20.inline{:src => "https://searchlogovector.com/wp-content/uploads/2018/05/carmax-logo-vector.png"}/
          %ul
            = link_to "Home", root_path
            = link_to "Inventory", root_path
      %nav
      = link_to "CarMax Inventory", root_path, class:"text-3xl"
      %br/
      
    = yield
